.confirmation-message-container {
  color: var(--sec-color2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-align: center;
  max-width: 400px;
  min-width: 300px;
  height: 12vh;
  min-height: 250px;
  background-color: var(--background-color);
  overflow: auto !important;
  padding: 10px 5px;
  border: 2px solid var(--border-color);
  font-size: 2.5rem;
  font-weight: 600;
}
.confirmation-message-container div:first-child {
  margin-bottom: 10px;
}
.confirmation-message-button {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  background: var(--error-color);
  border-radius: 50px;
  padding: 11px;
  font-size: 20px;
  color: var(--button-font-color-light);
  text-decoration: none;
  font-weight: 500;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.confirmation-cancel-button {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  background: var(--button-background-color-dark);
  border-radius: 50px;
  padding: 11px;
  font-size: 20px;
  color: var(--button-font-color-light);
  text-decoration: none;
  font-weight: 500;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
