.three-dot-options {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  font-size: 2.5rem;
}
.three-dot-options .three-dot-option-toggle {
  cursor: pointer;
  color: var(--sec-color2);
}
.three-dot-options .three-dot-option-toggle:hover {
  color: var(--sec-color1);
}
