@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navbar-main nav {
  background: #171c24;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20vw;
}
.navbar-main nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
.navbar-main nav .nav-items {
  display: flex;
  padding: 0 0 0 40px;
  align-items: center;
}
.navbar-main nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
.navbar-main nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.navbar-main nav .nav-items li .dropdown a {
  color: #000;
}
.navbar-main nav .nav-items li a:hover {
  color: #ff3d00;
}
.navbar-main nav form {
  display: flex;
  height: 50px;
  padding: 2px;
  margin-left: 60px;
  background: #1e232b;
  width: 40%;
  min-width: 18% !important;
  border-radius: 30px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  overflow: hidden;
}
.navbar-main nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
.navbar-main nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.navbar-main nav form button:hover {
  color: #17e;
}
.navbar-main nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.navbar-main nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}

@media (max-width: 1140px) {
  .navbar-main nav {
    padding: 0px;
  }
  .navbar-main nav .logo {
    flex: 2;
    text-align: center;
  }
  .navbar-main nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  .navbar-main nav .nav-items.active {
    left: 0px;
    overflow: auto;
  }
  .navbar-main nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  .navbar-main nav .nav-items li a {
    font-size: 20px;
  }
  .navbar-main nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .navbar-main nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar-main nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  .navbar-main nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-main nav .menu-icon {
    display: block;
  }
  .navbar-main nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  .navbar-main nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  .navbar-main nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
}
.navbar-main nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show-dropdown-contents {
  display: block;
}
