.about-container {
  background: var(--background-color);
}

.about-container .about-team-head {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  color: var(--font-color-header);
}

.about-container .about-view-container {
  text-align: center;
  background-color: var(--background-color);
}

.about-container .button-view {
  background: var(--button-background-color-light);
  border: none;
  font-family: var(--button-font-family);
  font-weight: 600;
  font-size: 1.5rem;
  min-width: 99px;
  border-radius: 50px;
  min-height: 3px;
  color: var(--button-font-color-light);
  cursor: pointer;
}

.member-list-container {
  display: flex;
  max-width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.member-list-container .main--team {
  background-color: var(--background-color);
  width: 100%;
}

.member-list-container .has-top-border {
  border-top: 1px solid #e3edf2;
}

.member-list-container .member-container {
  display: flex;
  padding: 1.875em;
  background-color: var(--background-color);
}

.member-list-container .member-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.member-list-container .member-list li {
  display: flex;
  padding: 0 0 1em;
}
.member-list-container .member-list li:last-child {
  padding-bottom: 0;
}

.member-list-container .member-avatar img {
  display: block;
  max-width: 50px;
  height: auto;
}

.member-list-container .admin .member-avatar img {
  max-width: 80px;
}

.member-list-container .moderator .member-avatar img {
  max-width: 60px;
}

.member-list-container .member .member-avatar img {
  max-width: 50px;
}

.member-list-container .member-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
}

.member-list-container .name,
.member-list-container .role {
  display: block;
  line-height: 1.5;
}

.member-list-container .name {
  color: var(--font-color);
  font-weight: 600;
}

.member-list-container .role {
  color: var(--font-color-light);
  font-size: 0.875em;
}

.member-list-container .make-role-btn {
  border: none;
  margin: 2px;
  font-family: var(--button-font-family);
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  min-width: 100px;
  min-height: 40px;
  color: var(--button-font-color-light);
  background: var(--button-background-color-light);
}
