.about-container .about-team-head {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  color: var(--font-color-header);
}

.about-container .about-view-container {
  text-align: center;
}

.about-container .button-view {
  background: var(--button-background-color-light);
  border: none;
  font-family: var(--button-font-family);
  font-weight: 600;
  font-size: 1.5rem;
  min-width: 99px;
  border-radius: 50px;
  min-height: 3px;
  color: var(--button-font-color-light);
  cursor: pointer;
}

.member-list-container {
  display: flex;
  height: 150px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.member-list-container .main--team {
  width: 100%;
}

.about-container .has-top-border {
  border-top: 1px solid #e3edf2;
}

.member-list-container .member-container {
  padding: 0.5rem;
}

.member-list-container .member-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.member-list-container .member-list li {
  display: flex;
  padding: 0 0 1em;
}
.member-list-container .member-list li:last-child {
  padding-bottom: 0;
}

.member-list-container .member-avatar img {
  display: block;
  max-width: 70px;
  height: auto;
}

.member-list-container .member-meta {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.member-list-container .name,
.member-list-container .role {
  display: block;
  line-height: 1.5;
}

.member-list-container .name {
  color: var(--font-color);
  font-weight: 600;
  font-size: 2rem;
}

.member-list-container .role {
  color: var(--font-color-light);
  font-size: 0.875em;
}

.member-list-container .make-role-btn {
  border: none;
  margin-bottom: 2px;
  font-family: var(--button-font-family);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--button-font-color-light);
  background: var(--button-background-color-light);
  width: 13vw;
  height: 30px;
}

.member-list-container .option-sec {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
}
