.settings-container {
  background-color: var(--sec-background-color);
  border-radius: 0.25rem;
  display: flex;
  min-height: 350px;
  overflow: hidden;
}

.settings-container .left-column {
  width: 30%;
}
.settings-container .left-column ul {
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}
.settings-container .left-column ul li {
  flex: auto;
  padding: 20px;
  cursor: pointer;
  color: var(--font-color);
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.settings-container .left-column ul li:hover {
  background-color: var(--main-color1);
  color: var(--font-color-light);
}

.settings-container .settings-tab {
  width: 70%;
  padding: 20px;
  border-left: 3px solid var(--main-color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-container .settings-tab form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-container .settings-tab .input-group {
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 10px 0;
}
.settings-container .settings-tab .input-group .new-input {
  padding-left: 0 !important;
  font-family: inherit;
  line-height: 1.2;
  color: var(--font-color);
  font-size: 1.8rem;
  background: transparent;
  padding: 0 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 0.5px solid #ced4da;
}

.settings-container .new-input:focus {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none !important;
}

/* .settings-container .settings-tab .input-group label {
  font-size: 1.5rem;
  color: var(--placeholder-font-color);
  text-align: center;
} */

.settings-container .settings-tab h1 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--font-color-header);
  opacity: 0.5;
}
.settings-container .settings-tab h2 {
  color: var(--error-color);
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

.settings-container .edit-profile-error {
  display: none;
  color: var(--error-color);
  font-size: 1.2rem;
}

.input-group input:invalid[focused="true"] ~ span {
  display: block;
}

.button-changes {
  border: none;
  font-family: var(--button-font-family);
  font-weight: 600;
  font-size: 2rem;
  margin: 30px 10px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 40px;
  color: var(--button-font-color-light);
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.button-save-changes {
  background: var(--button-background-color-light);
}

.button-save-changes:hover {
  box-shadow: var(--button-hover-box-shadow);
}

.button-confirm {
  background: linear-gradient(45deg, #d5135a, #f05924);
}

.button-confirm:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

@media screen and (max-width: 576px) {
  .settings-container {
    flex-direction: column;
  }
  .settings-container .left-column {
    width: 100%;
  }

  .settings-container .settings-tab {
    width: 100%;
    border-left: 0;
  }
}
