.create-post-wrapper {
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  margin: 5px;
}
.create-post-wrapper .postContainer {
  display: none;
}
.create-post-wrapper .postContainer.active {
  display: block;
}
.create-post-wrapper .postContainer .profile {
  display: flex;
  align-items: center;
}
.create-post-wrapper .postContainer .profile .profilePicture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}
.create-post-wrapper .postContainer .profile .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}
.create-post-wrapper .postContainer .profile .details .profileName {
  color: var(--font-color);
  margin-bottom: 3px;
}
.create-post-wrapper .postContainer .actions {
  display: flex;
  flex-direction: column;
}
.create-post-wrapper .postContainer .actions .helpers {
  height: 2.5rem;
  font-size: 2.5rem;
  color: var(--sec-color2);
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.create-post-wrapper .postContainer .body .postContent {
  width: 100%;
  font-size: 1.6rem;
  padding: 5px 10px;
  color: var(--font-color);
  background-color: var(--text-area-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--default-border-radius);
  font-family: var(--default-font-family);
  resize: none;
}
.create-post-wrapper .postContainer .postContent:focus {
  outline: none;
}
.create-post-wrapper .postContainer .postContent::placeholder {
  color: var(--placeholder-font-color);
}
.create-post-wrapper .postContainer .actions .helpers div label {
  cursor: pointer;
}
.create-post-wrapper .postContainer .actions .helpers div:hover {
  color: var(--font-color);
}
.create-post-wrapper .postContainer .actions .postButton {
  border: 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--default-border-radius);
  background-color: var(--sec-color1);
  color: var(--font-color-light);
  cursor: pointer;
  margin: 10px;
}
.create-post-wrapper .postContainer .actions .postButton.disabled {
  background-color: var(--button-background-color-dark);
  color: var(--font-color-disabled);
  cursor: not-allowed;
}
.create-post-wrapper .postContainer .actions .deleteImageButton {
  border: 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--default-border-radius);
  background-color: var(--error-color);
  color: var(--font-color-light);
  cursor: pointer;
  margin: 10px;
}
.create-post-wrapper .body {
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  padding: 0 16px;
  margin-bottom: 20px;
}
.create-post-wrapper .post-creator-image {
  margin: 0;
}
.create-post-wrapper .post-user-details {
  margin-left: 48px;
}
