.user-team-container {
  display: flex;
  flex-direction: column;

  height: 30vh;

  background-color: var(--background-color);
  overflow: auto !important;
  padding: 10px 5px;
  border: 2px solid var(--border-color);
}
.team-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 25px;
  margin: 2px 15px;
  cursor: pointer;
}
.team-user {
  display: flex;
  align-items: center;
}
.team-user img {
  width: 40px;
  height: 40px;
}
.team-user-details {
  margin-left: 10px;
}
.team-user-details .team-user-name {
  font-weight: bold;
  color: var(--main-color1);
  font-size: 1.2rem;
}

.team-user-details .team-time {
  font-size: 1rem;
  color: var(--sec-color2);
}
.team-single .team-type {
  font-weight: bolder;
  background-color: var(--button-background-color-dark);
  height: 30px;
  width: 100px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-font-color-light);
}
.team-single .team-type span {
  margin-left: 5px;
}

.user-team-container .create-team {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: var(--sec-color1);
}
.add-team-icon {
  color: var(--font-color);
}
.add-team-icon:hover {
  color: var(--sec-color1);
}

.user-team-container .create-team:hover {
  box-shadow: 1px;
}

.user-team-container .team-selected {
  background-color: var(--selected-bgcolor);
}

@media screen and (max-width: 1000px) {
  .user-team-container {
    flex-direction: row;
    padding: 3px;
    align-items: center;
  }
  .create-team {
    padding: 3px;
  }
  .team-single {
    border: none;
    flex-direction: column;
    padding: 5px 30px;
    margin: 2px;
  }
  .team-user {
    flex-direction: column;
  }
  .add-team-icon {
    margin-top: 5px;
  }
  .user-team-container {
    height: 100px;
  }
}
