.profile-card {
  width: 63vw;
  min-height: 300px;
  /* max-width: 900px; */
  margin: auto;
  background: var(--background-color);
  position: relative;
  box-shadow: 0px 8px 20px -20px grey;
}

.profile-card .profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(18%);
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.profile-card .profile-card__img .profile__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card .profile-card-leaveTeam {
  position: absolute;
  top: 0.5%;
  right: 0%;
}

.profile-card .profile-card__cnt {
  margin-top: 50px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}

.profile-card .profile-card__cnt .profile-card__name {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--font-color);
  margin-bottom: 2px;
}

.profile-card .profile-card__cnt .profile-card__roll {
  font-weight: 500;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--font-color-light);
}

.profile-card .profile-card__cnt .profile-card__txt {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.profile-card .profile-card__cnt .profile-card__txt .profile__desc {
  color: var(--font-color-desc);
  font-weight: 700;
}

.profile-card-ctr {
  height: 30px;
  display: flex;
  justify-content: center;
}

.profile-card .profile-card-btn {
  border: none;
  font-family: var(--button-font-family);
  font-weight: 600;
  font-size: 1.8rem;
  min-width: 121px;
  border-radius: 50px;
  min-height: 30px;
  color: var(--button-font-color-light);
  margin: 0px 12px;
  cursor: pointer;
  justify-content: center;
}

.profile-card .leaveTeam-btn {
  background: none;
  color: var(--sec-color2);
  font-size: 1.4rem;
  min-width: 75px;
  min-height: 25px;
  display: flex;
  align-items: center;
}
.profile-card .leaveTeam-btn:hover {
  background-color: var(--hover-bgcolor);
}

.profile-card .profile-card__cnt .profile-card-ctr .profile-card-btn .add-icon,
.profile-card .leaveTeam-icon {
  font-size: 2.8rem;
  padding-left: 0.5rem;
}

.profile-card
  .profile-card__cnt
  .profile-card-ctr
  .profile-card-btn
  .setting-icon {
  font-size: 2.2rem;
  padding-left: 0.5rem;
}

.button--add {
  background: var(--button-background-color-light);
  display: flex;
  align-items: center;
}

.profile-card .profile-card__cnt .profile-card-ctr .button--orange {
  background: var(--button-background-color-light);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .profile-card .profile-card__img .profile-card__img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .profile-card .leaveTeam-btn {
    font-size: 1rem;
    min-width: 60px;
    min-height: 25px;
    display: flex;
    align-items: center;
  }
  .profile-card .leaveTeam-icon {
    padding-left: 0.5rem;
    font-size: 2rem;
  }
}
