@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --main-color1: #19697e;
  --main-color2: red;
  --sec-color1: #28a6c5;
  --sec-color2: #999;
  --button-font-color-light: white;
  --button-font-color-dark: black;
  --button-background-color-light: white;
  --button-background-color-dark: rgb(150, 150, 150);
  --background-color: white;
  --popup-background-color: rgba(0, 0, 0, 0.288);
  --border-color: #e1e2e3;
  --font-color: black;
  --placeholder-font-color: #bbb;
  --default-border-radius: 10px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
.circle {
  border-radius: 50% !important;
}
.rounded-corner {
  border-radius: var(--default-border-radius) !important;
  overflow: hidden !important;
}
/* input placeholder color */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-font-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeholder-font-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeholder-font-color);
}
