@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --main-color1: #19697e;
  --main-color2: #ff416c;
  --sec-color1: #28a6c5;
  --sec-color2: #999;
  --background-color: white;
  --sec-background-color: #fff;
  --font-color: black;
  --font-color-light: white;
  --border-color: #e1e2e3;
  --default-border-radius: 10px;
  --button-border-white: white;
  --button-font-color-light: white;
  --button-font-color-dark: black;
  --button-background-color-light: white;
  --button-background-color-dark: rgb(150, 150, 150);
  --text-area-background-color: #fff;
  --placeholder-font-color: #bbb;
  --scroll-bar-color: #ddd;
  --popup-background-color: rgba(0, 0, 0, 0.288);
  --error-color: #f32354;
  --success-color: rgb(10, 218, 138);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
.circle {
  border-radius: 50% !important;
}
.rounded-corner {
  border-radius: var(--default-border-radius) !important;
  overflow: hidden !important;
}
/* input placeholder color */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-font-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeholder-font-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeholder-font-color);
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--scroll-bar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sec-color1);
}
.hidden {
  display: none !important;
}
.fadeIn {
  -webkit-animation: fadein 1s linear 1 forwards;
  animation: fadein 1s linear 1 forwards;
  display: block;
}
.fadeOut {
  -webkit-animation: fadeout 1s linear 1 forwards;
  animation: fadeout 1s linear 1 forwards;
  display: none !important;
}

@-webkit-keyframes fadein {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}
